body{
  background-color: #1f2120;
}
.news-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.text-center
{
  text-align: center;
}

.input-search{
  display: block;
  margin: 0px auto;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  width: 500px;
}